@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
}
body {
    font-family: "Rubik";
    background-color: #e5e5e5;
}
.btn {
    max-width: 219px;
    width: 100%;
    border-radius: 30px;
    background: #3FA5D5;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.30);
    padding: 7px 0;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    transition: .5s;
    display: inline-block;
}
.btn:hover {
    background: #2A86B1;
}


/* header start */

.header {
    padding: 30px 0;
}
.header__content {
    width: 100%;
    min-height: 500px;
    background: url('../img/Фон.png') rgba(255, 255, 255, 0.671);
    border-radius: 14px;
    padding: 0 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
}

.header__title {
    color: #464748;
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    max-width: 332px;
    width: 100%;
}

.header__text {
    color: #696868;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    max-width: 314px;
    width: 100%;
}

/* Skills Start */


.skills__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.skills__card {
    max-width: 255px;
    width: 100%;
    background: white;
    padding: 30px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.skills__card:nth-child(1) {
    row-gap: 65px;
}
.skills__card:nth-child(2) {
    row-gap: 65px;
}
.skills__card:nth-child(3) {
    row-gap: 53px;
}
.skills__card:nth-child(4) {
    row-gap: 65px;
}
.skills__card-title {
    color: #2A86B1;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.skills_card-icon {
    color: #3FA5D5;
}
/* skills end */

.info {
    padding-bottom: 45px;
}
.info__content {
    display: flex;
    justify-content: space-between;
}
.info__desc-title {
    color: #686868;
    text-align: justify;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 22px;
}
.info__desc-text {
    color: #545454;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    max-width: 795px;
    width: 100%;
    border-radius: 8px;
    background: white;
    margin-bottom: 15px;
    padding: 15px;
}

.info__news-new {
    display: flex;
    max-width: 255px;
    width: 100%;
    background: white;
    display: block;
    border-radius: 8px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 15px;
    margin-bottom: 20px;
}
.info__news-desc h4 {
    color: #323232;
    text-align: justify;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    margin-bottom: 5px;
}
.info__news-text {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 94.5%;
}
.info__news-title {
    color: #686868;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}
h3.info__desc-title,
h3.info__news-title {
    margin: 0 0 22px 20px;
}

/* main end */

.footer {
    background: #3FA5D5;
    padding: 40px 0;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__title {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
}
.footer__links {
    display: flex;
    flex-direction: column;
    text-align: end;
    row-gap: 15px;
}
.footer__phone {
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.footer__email {
    color: white;
    font-size: 16px;
    font-weight: 400;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    transition: .5s;
    overflow: hidden;
}
.nav:hover {
    width: 220px;
}

.nav__logo {
    padding-left: 19px;
}
.nav__list {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 55px;
}
.nav__list-link {
    display: flex;
    align-items: center;
    column-gap: 37px;
    font-size: 18px;
    font-weight: 400;
    color: #939393;
    text-align: center;
}
.nav__list-link:hover {
    color: #2A86B1;
}
.nav__ava {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 18px;
}
